 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 634px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 77px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 25px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: 37px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 431px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 630px;
  height: 354px;
  margin: 0 -32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 355px;
  }

  .u-section-1 .u-image-1 {
    width: 465px;
    height: 262px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-1 .u-image-1 {
    width: 355px;
    height: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 408px;
  }

  .u-section-1 .u-image-1 {
    width: 553px;
    height: 311px;
    margin-top: 11px;
    margin-left: -6px;
    margin-right: -6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-1 .u-image-1 {
    height: 192px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 976px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 55px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 748px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-2 .u-icon-1 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0 20px;
}

.u-section-2 .u-text-3 {
  background-image: none;
  margin: 23px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-2 .u-icon-2 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0 20px;
}

.u-section-2 .u-text-5 {
  background-image: none;
  margin: 23px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-2 .u-icon-3 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0 20px;
}

.u-section-2 .u-text-7 {
  background-image: none;
  margin: 23px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 30px;
}

.u-section-2 .u-icon-4 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 0 20px;
}

.u-section-2 .u-text-9 {
  background-image: none;
  margin: 23px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 30px;
}

.u-section-2 .u-icon-5 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 0 20px;
}

.u-section-2 .u-text-11 {
  background-image: none;
  margin: 23px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 30px;
}

.u-section-2 .u-icon-6 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 0 20px;
}

.u-section-2 .u-text-13 {
  background-image: none;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 688px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-12 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-top: 130px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-12 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 868px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  width: 244px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  width: 548px;
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  margin-bottom: 0;
  margin-top: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  min-height: 388px;
  grid-gap: 40px 40px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-3 .u-icon-1 {
  width: 141px;
  height: 141px;
  background-image: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 20px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-3 .u-icon-2 {
  width: 141px;
  height: 141px;
  background-image: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-3 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 20px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-3 .u-icon-3 {
  width: 141px;
  height: 141px;
  background-image: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-3 .u-btn-3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 20px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 99px auto 0 93px;
  padding: 21px 42px 21px 41px;
}

.u-section-3 .u-text-6 {
  width: 526px;
  margin: -48px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 320px;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-3 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    min-height: 735px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 27px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 0;
    margin-left: 194px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 37px;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: 8px;
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/pexels-karolina-grabowska-5882683.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 233px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 12px 727px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 185px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-right: 527px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 143px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 18px;
    margin-right: 307px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 114px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 11px;
    margin-right: 127px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: url("images/4deb38d7c94c0b24164f0d7877253affb7498a52d0ea98869182e9d04b3a098840b29cb4052f9d85a4da686c3899987c54021511e9b534733eb804_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  margin: 233px auto 0 20px;
}

.u-section-5 .u-text-2 {
  margin: 0 227px 0 20px;
}

.u-section-5 .u-list-1 {
  width: 439px;
  margin: 20px auto 0 11px;
}

.u-section-5 .u-repeater-1 {
  min-height: 125px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px;
}

.u-section-5 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 10px auto 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 21px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 375px;
    margin-left: 21px;
  }

  .u-section-5 .u-btn-7 {
    margin-left: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 155px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 281px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: 206px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-top: 26px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-7 {
    margin-left: 11px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/111fe3c724d2a89b9b24501d3a46e64be521d22edb8b2eda5888ccad7295156d4c0c5897c757e12e069a2deeb8398fafa2d318fde1af46b97da997_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 800px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  margin: 288px auto 0 20px;
}

.u-section-6 .u-text-2 {
  margin: 20px 97px 0 20px;
}

.u-section-6 .u-list-1 {
  width: 642px;
  margin: 20px auto 0 20px;
}

.u-section-6 .u-repeater-1 {
  min-height: 70px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 10px 31px 10px 29px;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-6 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 10px 31px 10px 29px;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-6 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 10px 31px 10px 29px;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-6 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 10px 31px 10px 29px;
}

.u-section-6 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 7px auto 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 212px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-5 {
    margin-top: 9px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-6 .u-list-1 {
    width: 412px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 151px;
    grid-template-columns: 50% 50%;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 10px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 10px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 10px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: 10px;
  }

  .u-section-6 .u-btn-5 {
    margin-top: 10px;
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 256px;
    grid-template-columns: 100%;
  }

  .u-section-6 .u-btn-5 {
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-2 {
    margin-top: 15px;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
    margin-top: 21px;
    margin-right: -18px;
    margin-left: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-5 {
    margin-top: 18px;
    margin-left: 18px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 349px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/Telegram_2019_Logo.svg.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 66px 60px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 82px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 3px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: auto;
  }
} .u-section-8 {
  background-image: url("images/111fe3c724d2a89b9b24501d3a46e64be521d22edb8b2eda5888ccad7295156d4c0c5897c757e12e069a2deeb8398fafa2d318fde1af46b97da997_1280-25.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 649px;
}

.u-section-8 .u-group-1 {
  width: 800px;
  min-height: 450px;
  background-image: none;
  margin: 46px auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  font-size: 4.5rem;
  margin: 74px auto 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 252px;
  min-width: 124px;
  margin: 18px auto 0;
}

.u-section-8 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-8 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
}

.u-section-8 .u-icon-3 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-text-2 {
  margin: 27px auto 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-8 .u-group-1 {
    width: 720px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 53px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }
}